.btn {
	background: transparent;
	border-radius: 35px;
	color: $white;
	font: normal normal 15px $quicksandSemiBold;
	margin-right: 12px;
	padding: 12px 25px;
	padding-top: 10px;
	text-transform: capitalize;
	border: 2.5px solid $white;
	cursor: pointer;
	@include transitionEase();

	&:hover {
		color: $black;
		background: $white;
	}

	&__active{
		background: $main;
		border-color: $main;

		&:hover{
			background: transparent;
			color: $white;
		}
	}
}