.hero{
	// margin-top: 60px;
	padding: 150px 150px 0px 150px !important;
	background: $gradient;
	&__inner{
		@include flexItems(row, space-between, center, wrap);
	}
	&__img{
		img{
			width: 100%;
		}
	}

	&__info{
		h1{
			font: normal normal 75px/90px $quicksandBold;
		}

		p{
			font: normal normal 20px/30px $quicksand;
			margin-top: 20px;
		}
	}
}