// Color Variables
$white: #ffffff;
$black: #111111;
$main: #007bbd;
$borderColor: #f1f1f1;
$skyblue: #00C5FF;
$pink: #FF6680;
$orange: #FF813B;

//Gradient Variable
$gradient: linear-gradient(45deg, #11998e 0%, #38ef7d 100%);

//Shadow Variables
$shadow: 15px 15px 30px #1414142a;

//Font Variables
$quicksand: "Quicksand Regular", sans-serif;
$quicksandBold: "Quicksand Bold", sans-serif;
$quicksandMedium: "Quicksand Medium", sans-serif;
$quicksandSemiBold: "Quicksand SemiBold", sans-serif;

//Footer Colors
$footerColor: #272727;
$footerBorder: #777777;

//Screen Size Variables
$mobile: 400px;
$tablet: 768px;
$laptop: 996px;
$desktop: 1200px;
