/* Web Fonts included in the site */
@font-face {
  font-family: "Quicksand Regular";
  src: url("../assets/fonts/quicksand/Quicksand-Regular.ttf");
}

@font-face {
  font-family: "Quicksand Bold";
  src: url("../assets/fonts/quicksand/Quicksand-Bold.ttf");
}

@font-face {
  font-family: "Quicksand Medium";
  src: url("../assets/fonts/quicksand/Quicksand-Medium.ttf");
}

@font-face {
  font-family: "Quicksand SemiBold";
  src: url("../assets/fonts/quicksand/Quicksand-SemiBold.ttf");
}

.nav {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: black;
}

.nav__bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0px 50px;
}

.nav__bar .logo {
  padding: 5px 0;
}

.nav__bar .nav__group ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav__bar .nav__group ul li {
  position: relative;
  transition: all 0.4s ease;
}

.nav__bar .nav__group ul li a {
  display: inline-block;
  margin: 0 20px;
  height: 100%;
  text-align: center;
  color: #ffffff;
  padding: 20px 15px;
  transition: all 0.4s ease;
}

.nav__bar .nav__group ul li a::after {
  display: none;
  content: "";
  width: 100%;
  position: absolute;
  height: 3px;
  background-color: #007bbd;
  bottom: -20px;
  left: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: all 0.4s ease;
}

.nav__bar .nav__group ul li a:hover {
  background: #007bbd;
}

.nav__bar .nav__group ul li a:hover::after {
  transform: scaleY(1);
}

button.btn, .second-button, .third-button, .fourth-button {
  background-color: transparent;
  border-radius: 5px;
  color: #ffffff;
  font: normal bold 14px "Quicksand Bold", sans-serif;
  margin-right: 12px;
  padding: 12px 25px;
  text-transform: uppercase;
  border: 2px solid #007bbd;
  cursor: pointer;
  position: relative;
}

button.btn::before, .second-button::before, .third-button::before, .fourth-button::before {
  content: "";
  background-color: #007bbd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.3s ease;
}

button.btn:hover, .second-button:hover, .third-button:hover, .fourth-button:hover {
  color: #007bbd;
}

button.btn:hover::before, .second-button:hover::before, .third-button:hover::before, .fourth-button:hover::before {
  transform: scaleY(0);
}

.second-button {
  border-color: #FF6680;
}

.second-button::before {
  background-color: #FF6680;
}

.second-button:hover {
  color: #FF6680;
}

.third-button {
  border-color: #FF813B;
}

.third-button::before {
  background-color: #FF813B;
}

.third-button:hover {
  color: #FF813B;
}

.fourth-button {
  border-color: #00C5FF;
}

.fourth-button::before {
  background-color: #00C5FF;
}

.fourth-button:hover {
  color: #00C5FF;
}

.hero {
  margin-top: 100px;
  padding: 0 100px;
}

.hero__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hero__img img {
  width: 100%;
}

footer {
  background-color: #272727;
}

footer .footer-inner {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 50px 45px;
}

footer .footer-inner .footer-col {
  width: 18%;
  margin: 0 10px;
}

footer .footer-inner .about-col p {
  font: normal normal 16px/20px "Quicksand Regular", sans-serif;
  margin-top: 10px;
}

footer .footer-inner .about-col .social-col .social-links {
  margin-top: 20px;
}

footer .footer-inner .about-col .social-col .social-links a {
  padding: 10px;
  display: inline-block;
  background-image: linear-gradient(45deg, #11998e 0%, #38ef7d 100%);
  border-radius: 4px;
  width: 42.5px;
  text-align: center;
}

footer .footer-inner .about-col .social-col .social-links a i {
  color: #ffffff;
  font-size: 20px;
  display: inline-block;
  transition: transform 0.4s ease;
}

footer .footer-inner .about-col .social-col .social-links a:hover > i {
  transform: rotate(360deg);
}

footer .footer-inner .quick-links h4 {
  text-transform: uppercase;
  font: normal bold 18px/20px "Quicksand Bold", sans-serif;
  margin-bottom: 12.5px;
}

footer .footer-inner .quick-links ul li {
  line-height: 30px;
}

footer .footer-inner .quick-links ul li a {
  font: normal normal 16px/20px "Quicksand Regular", sans-serif;
  color: #ffffff;
}

footer .footer-inner .quick-links ul li a:hover {
  text-decoration: underline;
}

footer .footer-inner .contact-col h4 {
  text-transform: uppercase;
  font: normal bold 18px/20px "Quicksand Bold", sans-serif;
  margin-bottom: 12.5px;
}

footer .footer-inner .contact-col dl dd {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 15px;
}

footer .footer-inner .contact-col dl dd i {
  display: block;
  margin-top: 3.5px;
}

footer .footer-inner .contact-col dl dd p {
  font: normal normal 16px/20px "Quicksand Regular", sans-serif;
  margin-left: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand Regular", sans-serif;
  overflow-x: hidden;
  position: relative;
  background: #141414;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul,
ol {
  list-style: none;
}

cite,
em,
i {
  font-style: normal;
}

.container {
  padding: 0 100px;
}

:focus {
  outline: none;
}

::selection {
  color: #ffffff;
  background-color: #008cd7;
}

.nav-offset {
  background-color: #ffffff;
  box-shadow: 0 5px 25px #11111115;
  transition: box-shadow 200ms ease-in-out;
}
/*# sourceMappingURL=styles.css.map */