/* Web Fonts included in the site */
@font-face {
  font-family: "Quicksand Regular";
  src: url("../assets/fonts/quicksand/Quicksand-Regular.ttf");
}
@font-face {
  font-family: "Quicksand Bold";
  src: url("../assets/fonts/quicksand/Quicksand-Bold.ttf");
}
@font-face {
  font-family: "Quicksand Medium";
  src: url("../assets/fonts/quicksand/Quicksand-Medium.ttf");
}
@font-face {
  font-family: "Quicksand SemiBold";
  src: url("../assets/fonts/quicksand/Quicksand-SemiBold.ttf");
}
.nav {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: black;
}
.nav__bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0px 50px;
}
.nav__bar .logo {
  padding: 5px 0;
}
.nav__bar .nav__group ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.nav__bar .nav__group ul li {
  position: relative;
  transition: all 0.4s ease;
}
.nav__bar .nav__group ul li a {
  display: inline-block;
  margin: 0 20px;
  height: 100%;
  text-align: center;
  color: #ffffff;
  padding: 20px 15px;
  transition: all 0.4s ease;
}
.nav__bar .nav__group ul li a::after {
  display: none;
  content: "";
  width: 100%;
  position: absolute;
  height: 3px;
  background-color: #007bbd;
  bottom: -20px;
  left: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: all 0.4s ease;
}
.nav__bar .nav__group ul li a:hover {
  background: #007bbd;
}
.nav__bar .nav__group ul li a:hover::after {
  transform: scaleY(1);
}
.nav__bar .nav__group ul li a:focus {
  background: #007bbd;
}

.btn {
  background: transparent;
  border-radius: 35px;
  color: #ffffff;
  font: normal normal 15px "Quicksand SemiBold", sans-serif;
  margin-right: 12px;
  padding: 12px 25px;
  padding-top: 10px;
  text-transform: capitalize;
  border: 2.5px solid #ffffff;
  cursor: pointer;
  transition: all 0.4s ease;
}
.btn:hover {
  color: #141414;
  background: #ffffff;
}
.btn__active {
  background: #007bbd;
  border-color: #007bbd;
}
.btn__active:hover {
  background: transparent;
  color: #ffffff;
}

.hero {
  padding: 150px 150px 0px 150px !important;
  background: linear-gradient(161.19deg, rgba(19, 19, 19, 0.7) -68.47%, rgba(200, 200, 200, 0.3093) -1.29%, rgba(106, 106, 106, 0) 55.13%, rgba(21, 21, 21, 0.273) 92.03%);
}
.hero__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.hero__img img {
  width: 100%;
}
.hero__info h1 {
  font: normal normal 75px/90px "Quicksand Bold", sans-serif;
}
.hero__info p {
  font: normal normal 20px/30px "Quicksand Regular", sans-serif;
  margin-top: 20px;
}

.profile {
  padding: 75px 150px !important;
  background: black;
}
.profile__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.profile__info {
  margin-right: 10px;
  max-width: 55%;
}
.profile__info p {
  font: normal normal 18px/30px "Quicksand Regular", sans-serif;
  text-align: right;
  padding: 15px 0;
}
.profile__pic img {
  border-radius: 50%;
  border: 10px solid rgba(54, 54, 54, 0.5215686275);
}
.profile__btns {
  text-align: right;
}

.preferred__tools {
  padding: 75px 150px !important;
  background: #ffffff;
}
.preferred__tools__group {
  text-align: center;
  padding: 20px 0;
}
.preferred__tools__group img {
  margin: 0 50px;
}

.pre-footer {
  text-align: center;
}
.pre-footer .top-area {
  background: #007bbd;
  padding: 40px 0;
}
.pre-footer .top-area h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
.pre-footer .top-area .contact-info li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.pre-footer .top-area .contact-info li a:first-child {
  margin-bottom: 20px;
}
.pre-footer .top-area .contact-info li a i {
  margin-right: 10px;
  font-size: 18px;
}
.pre-footer .social-media {
  margin-top: 25px;
}
.pre-footer .social-media a {
  margin: 0 12px;
  font-size: 20px;
}

footer {
  background-color: #141414;
  padding: 50px 0px;
  text-align: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand Regular", sans-serif;
  overflow-x: hidden;
  position: relative;
  background: #141414;
}

a {
  text-decoration: none;
  color: #ffffff;
}

p, h1, h2, h3 {
  color: #ffffff;
}

ul,
ol {
  list-style: none;
}

cite,
em,
i {
  font-style: normal;
}

.container {
  padding: 0 100px;
}

:focus {
  outline: none;
}

::selection {
  color: #ffffff;
  background-color: #008cd7;
}

.title {
  text-align: center;
  letter-spacing: 3px;
  font: normal normal 18px/20px "Quicksand SemiBold", sans-serif;
  padding: 30px 0;
}

.nav-offset {
  background: #ffffff;
  box-shadow: 0 5px 25px rgba(17, 17, 17, 0.0823529412);
  transition: box-shadow 200ms ease-in-out;
}/*# sourceMappingURL=styles.css.map */